name: .NET Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        cache: true
        cache-dependency-path: '**/Application_1/packages.lock.json'

    - name: Print .NET Info
      run: dotnet --info

    - name: Restore dependencies
      run: dotnet restore --verbosity diagnostic

    - name: Build
      run: dotnet build --no-restore --verbosity detailed

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build-artifacts
        path: |
          **/*.binlog
          **/*.log
